.intro{
  color: blue;
  text-align: left;
  font-style: normal;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 9px;

}

.flashy{
  color: red;
  text-align: left;
  background-color: white;
  margin-top: 11px;
  margin-bottom: 8px;


}

.hymn{
  color: indigo;
  text-align: left;
  border-color: red;
  margin-top: 7px;
  margin-top: 6px;


}
